<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/co.edu.cue.ed.generics/src/co/edu/cue/ed/generics/app/MainPrincipalOferta.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="co.edu.cue.ed.generics.app.MainPrincipalOferta"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="co.edu.cue.ed.generics"/>
</launchConfiguration>
